/* Darker dark theme */
.dark {
    --theme: rgb(10, 10, 12);
    --entry: rgb(18, 18, 20);
    --primary: rgb(230, 230, 231);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(40, 41, 43);
    --content: rgb(210, 210, 211);
    --code-block-bg: rgb(15, 15, 17);
    --code-bg: rgb(25, 26, 28);
    --border: rgb(30, 30, 32);
}
